#about
    background-image: url('/../../../public/img/about-bg.jpg')
    background-attachment: fixed
    #filtre2
        background-color: rgba(0,0,0, 0.7)
        // width: 100vw
    img
        width: 20vw
        border: 4px solid rgb(59,57,54)
    img:hover
        animation: image_about 1s forwards
    @keyframes image_about
        to
            width: 22vw