.about
    background-image: url('/../../../public/img/about-bg.jpg')
    background-attachment: fixed
    #filtre2
        background-color: rgba(0,0,0, 0.7)
        width: 100vw
    img
        width: 20vw
    img:hover
        animation: image_about 1s
    @keyframes image_about
        to
            width: 22vw