#about
    background-image: url('/../../../public/img/about-bg.jpg')
    background-attachment: fixed
    .filtre2
        background-color: rgba(0,0,0, 0.7)
    img
        width: 30vw
        border: 4px solid rgb(59,57,54)
    img:hover
        animation: image_about 1s forwards
    .img_abos:hover .carre1
        animation: mv_carre1 1s forwards
    .img_abos:hover .carre2
        animation: mv_carre2 1s forwards
    .img_abos
        position: relative
    .carre1, .carre2
        width: 2rem
        height: 2rem
        position: absolute
    .carre1
        border-top: 4px solid $warning
        border-left: 4px solid $warning
        top: 1rem
        left: 2rem
    .carre2
        border-bottom: 4px solid $warning
        border-right: 4px solid $warning
        bottom: 1rem
        right: 5rem
.btn_abs
    width: 2rem
    height: 2rem
    
@keyframes image_about
    to
        width: 32vw
@keyframes mv_carre1
    to
        top: 0.5rem
        left: 1.25rem
@keyframes mv_carre2
    to
        bottom: 0.5rem
        right: 1.75rem
@media screen and (max-width:991px)
    #about
        img
            width: 80vw
            margin-bottom: 2rem