#contact
    input, textarea
        border: rgb(71,66,55) 1px solid
        width: 100%
    input:focus , textarea:focus
        color: $warning !important
    button:hover
        background-color: $black !important
    .font
        width: 2rem
        height: 2rem
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        i
            font-size: 1rem
    .font + div
        margin: 1rem
        p
            margin: 0 
            margin-left: 1rem
    iframe
        width: 100%