#gallery
    .anim
        overflow: hidden
        max-height: 24rem
        margin: 0 !important
        padding: 0 !important
    .anim
        img:hover
            animation: images 2s forwards
@keyframes images
    to
        transform: scale(1.25)

