#gallery
    .col
        background-position: center
    .anim
        overflow: hidden
        width: 24vw
        margin: 0
        padding: 0
        div
            padding: 0
            margin: 0
    .col:hover
        animation: images 2s forwards
@keyframes images
    to
        transform: scale(1.25)