header
    background-image: url('/../../../public/img/hero-bg.jpg')
    height: 100vh
    .filtre1
        background-color: rgba(0,0,0, 0.7)
        height: 100%
    .div_label
        width: 5rem
        height: 5rem
        border-radius: 50%
        background-color: rgba(205,164,94,0.2)
        overflow: hidden
        display: flex !important
        justify-content: center !important
        align-items: center !important
    #label
        width: 4rem
        height: 4rem
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        font-size: 2rem
        .fa-play
            color: white
    .btn_head
        button
            margin: 0.2rem
            height: 2rem
            width: fit-content
            padding: 1rem
            padding-top: 0
            padding-bottom: 0
        button:hover
            background-color: $warning !important
    #label:hover .fa-play
        animation: label_header 1s
    input
        display: none
    .filtre
        background-color: rgba(0,0,0, 0.9)
        width: 100%
        height: 100%
        position: absolute 
        display: none
        z-index: 2 !important
        label
            position: absolute
            top: 0
            right: 0
            font-size: 1rem
    #video:checked + .filtre
        display: flex !important
        justify-content: center
        align-items: center

@keyframes label_header
    to
        font-size: 20rem
        color: $warning
@media screen and (max-width:991px)
    header
        .div_head
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
        .btn_head
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
        .text_head
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center