header
    background-image: url('/../../../public/img/hero-bg.jpg')
    height: 100vh
    .filtre1
        background-color: rgba(0,0,0, 0.7)
        height: 100%
        
    #label
        width: 6rem
        height: 6rem
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        font-size: 4rem
        overflow: hidden
        // border: 100px rgba(205,164,94,0.1) solid !important
    #label:hover
        animation: label_header 1s !important
    input
        display: none
    .filtre
        background-color: rgba(0,0,0, 0.7)
        width: 100%
        height: 100%
        position: absolute
        display: none
    #video:checked + .filtre
        display: flex !important
        justify-content: center
        align-items: center
    button:hover
        color: white !important 
        background-color: $warning !important
@keyframes label_header
    to
        // font-size: 20rem
        color: $warning !important