#menu
    .col-lg-6
        .poppins
            color: rgb(141, 140, 138)
        img
            width: 6rem
            height: 6rem
            border-radius: 50%
            margin: 0 1rem
            border: 5px solid rgb(72, 70, 68)
        p
            margin: 0 0.5rem
        hr
            border-top: 1px dashed white
            width: 100%
    button 
        color: white
        border: none
        background-color: $info
    .nav-tabs .active
        color: $warning
        border: none
    ul
        margin-bottom: 4rem
        border: none
    li
        border: none
    .tab-pane.fade .droite
        transition: all 0.01s 
        opacity: 0
        transform: translate(20rem,-2rem) scale(0.2)
    .tab-pane.fade .gauche
        transition: all 0.01s 
        opacity: 0
        transform: translate(-20rem,2rem) scale(0.2)
    .tab-pane.fade.show .gauche,.tab-pane.fade.show .droite
        animation: menu_ 1s forwards

@keyframes menu_
    to
        opacity: 1
        transform: translate(0,0) scale(1) skew(0)
