#menu
    a
        text-decoration: none
        color: white
    .list-group-item a:hover
        color: $warning 
    i1:checked + c2
        color: red
    // .c11
    //     background-color: green
// #menu:active .c2
//         animation: diss 1s
// @keyframes diss
//     to
//         color: red
