#menu
    // a
    //     text-decoration: none
    //     color: white
    // .list-group-item a:hover
    //     color: $warning 
    .col-6
        img
            width: 6rem
            height: 6rem
            border-radius: 50%
            margin: 0 1rem
        p
            margin: 0 0.5rem
        hr
            border-top: 1px dashed white