nav
    background-color: rgba(0,0,0, 0.7)
    z-index: 1 !important
    ul
        .nav-link.active
            color: rgb(217,186,133) !important
        .nav-link:hover 
            color: rgb(217,186,133) !important 
    button:hover
        background-color: $warning !important
