@import ./_navbar
@import ./_header
@import ./_about
@import ./_why_us
@import ./_menu
@import ./_events
@import ./_book
@import ./_monials
@import ./_gallery
@import ./_chefs
@import ./_contact
@import ./_footer


body
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: 'Open Sans', sans-serif
    .titre
        h2
            font-family: 'Playfair Display', sans-serif
        p
            font-family: 'Poppins', sans-serif
            color: rgb(170,170,170)
        hr
            width: 10rem
    footer
        h3
            font-family: 'Poppins', sans-serif
    .playfair
        font-family: 'Playfair Display', sans-serif
    .poppins
        font-family: 'Poppins', sans-serif
    .open_sans
        font-family: 'Open Sans', sans-serif
